* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fondoPantalla {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  background-image: url("./assets/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
h1{
  color: white;
  font-size: 350px;
  /* border: 1px solid red; */
  display: flex;
  width: fit-content;
  margin: auto;
  padding-top: 500px;

}