* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contComidas {
  border: 1px solid red;
  width: fit-content;
}

.divComida {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  text-align: center;
}

.imgComida {
  border: 1px solid blue;
}